#links
{
  font-size:11px;
  width:100%;
  border-collapse:collapse;
}
#links td
{
  text-align:center;
  border-top:1px solid #94A3C4;
  border-bottom:1px solid #94A3C4;
}
#links th 
{
  text-align:center;
  border-top:1px solid #ffffff;
  border-bottom:1px solid #ffffff;
  padding-top:2px;
  padding-bottom:2px;
  background-color:#3B5998;
  color:#ffffff;
}
#links tr.alt td 
{
  color:#000000;
  background-color:#EDEFF4;
}
